.caja_producto{
  border: 1px solid #dedede;
  height: 200px;
  width: 200px;
}
img.lente {
  height: 100%;
}

.ribbon {
  position: absolute;
  width: 150px;
}
.descripcion {
  font-size: 14px;
  padding-top: 10px;
  color: #888888;

}
